@import "../../../styles/abstracts/variables";
.header__nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding: 2rem 2rem 0.4rem 2rem;
  // border-bottom: 1px solid #222222;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;

  &-calendar {
    font-size: 2rem;
    height: 32px;
    width: 34px;
    color: $primary-main;
  }
  &-text {
    font-size: 1.4rem;
    align-self: center;
    font-weight: 700;
    margin-left: 1rem;
  }
  &-img {
    height: 2.8rem;
    border-radius: 50%;
    align-self: center;
  }
  &-icon {
    font-size: 2rem;
    height: 32px;
    width: 34px;
    align-self: center;
    margin-right: 1rem;
  }
}
.flex {
  display: flex;
}
